<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All</title>
    {%extends 'aib_site/base.html' %}
    {% block styling_links %}
        
    {% endblock styling_links %}
    
</head>
{% block content %}
<body class="container">
    {% if ships %}
   <marquee>
       <h1 class="text-primary">Take your time to look at all the ship options</h1>
    </marquee> 
    <table class="table text-center table-striped"> 
        <thead class="thead-dark">
            <th>Ship Id</th>
            <th>Ship Name</th>
            <th>Ship Colors</th>
            <th>Ship Description</th>
            <th>Ship Image</th>
        </thead>
        {% for ship in ships %}
        <tr>
            <td>{{ship.ship_id}}</td>
            <td>{{ship.ship_displayName}}</td>
            <td>{{ship.ship_colors}}</td>
            <td>{{ship.ship_description}}</td>
            <td>
                <img class="img-fluid" src="../../static/aib_site/py_code/alien_invasion/assets/images/ships/{{ship.ship_name}}" alt="..." />
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if sites %}
    <marquee>
        <h1 class="text-primary">Take your time to look at all the battlesite options</h1>
     </marquee> 
     <table class="table text-center table-striped"> 
         <thead class="thead-dark">
             <th>Site Name</th>
             <th>Site Description</th>
             <th>Site Image</th>
         </thead>
         {% for site in sites %}
         <tr>
             <td>{{site.site_displayName}}</td>
             <td>{{site.site_description}}</td>
             <td>
                 <img class="img-fluid" src="../../static/aib_site/py_code/alien_invasion/assets/images/backgrounds/{{site.site_name}}" alt="..." />
             </td>
         </tr>
         {% endfor %}
     </table>
     {% endif %}

     {% if bullets %}
     <marquee>
        <h1 class="text-primary">Take your time to look at all the bullet options</h1>
     </marquee> 
     <table class="table text-center table-striped"> 
         <thead class="thead-dark">
             <th>Bullet Name</th>
             <th>Bullet Description</th>
             <th>Bullet Image</th>
         </thead>
         {% for bullet in bullets %}
         <tr>
             <td>{{bullet.bullet_displayName}}</td>
             <td>{{bullet.bullet_description}}</td>
             <td>
                 <img class="img-fluid" src="../../static/aib_site/py_code/alien_invasion/assets/images/bullets/{{bullet.bullet_name}}" alt="..." />
             </td>
         </tr>
         {% endfor %}
     </table>
     {% endif %}

     {% if invaders %}
     <marquee>
        <h1 class="text-primary">Take your time to look at all the invader options</h1>
     </marquee> 
     <table class="table text-center table-striped"> 
         <thead class="thead-dark">
             <th>Invader Name</th>
             <th>Invader Description</th>
             <th>Invader Image</th>
         </thead>
         {% for invader in invaders %}
         <tr>
             <td>{{invader.invader_displayName}}</td>
             <td>{{invader.invader_description}}</td>
             <td>
                 <img width="40px" height="40px" class="img-fluid" src="../../static/aib_site/py_code/alien_invasion/assets/images/aliens/{{invader.invader_name}}" alt="..." />
             </td>
         </tr>
         {% endfor %}
     </table>
     {% endif %}

</body>
{% endblock content %}
</html>