{% extends "aib_site/base.html"%}

<body>

    <div class="navbar navbar-dark bg-dark text-primary">
        {% if user.is_authenticated %}
        Hello, {{user.username}}
    
        <a class="nav-link m-auto" href="{% url 'users:logout' %}">Log Out</a> 
        <a class="nav-link m-auto" href="{% url 'aib_site:ship_form'%}">Choose your Ship</a>     
        <a class="nav-link m-auto" href="{% url 'aib_site:battlesite_form'%}">Choose your Settings Now!</a>    
    {% else %}
        <a class="nav-link m-auto" href="{% url 'users:register' %}">Register</a>
        <a class="nav-link m-auto" href="{% url 'users:login' %}">Log In</a>
    {% endif %}
    <a class="nav-link m-auto" href="{% url 'aib_site:all_ships'%}">All Ships</a> 
    <a class="nav-link m-auto" href="{% url 'aib_site:index'%}">Home</a> 
    
    <a class="nav-link m-auto" href="{% url 'aib_site:all_sites'%}">All Sites</a>        
    </div>
        <marquee style="font-size: xx-large;">Welcome to the 👽 Alien Invasion 👽 Builder website!</marquee>
    
    
</body>
{% block content %}{% endblock content %}

<div class="portfolio-item text-center">
    <a class="portfolio-link" data-toggle="modal"
        onclick="populateForm('{{site.site_name}}','{{site.site_displayName}}')"
        data-target="#formModal">
        

        <!-- <img class="img-fluid"
            src="../../static/aib_site/py_code/alien_invasion/assets/images/backgrounds/{{site.site_name}}"> -->
    </a>
    <div class="portfolio-caption">
        <div class="portfolio-caption-heading">{{site.site_displayName.capitalize}}</div>
        <div class="portfolio-caption-subheading text-muted">{{site.site_description}}</div>
    </div>
</div>

