<!-- Bootstrap links -->
<script src="../../static/aib_site/bootstrap-4.3.1/jquery-slim.min.js"></script>
<script src="../../static/aib_site/bootstrap-4.3.1/popper.min.js"></script>
<script src="../../static/aib_site/bootstrap-4.3.1/dist/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="../../static/aib_site/bootstrap-4.3.1/dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="../../static/aib_site/css/base.css">

<!-- end of Bootstrap links -->
{% block styling_links %}{% endblock styling_links %}
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler navbar-toggler-right bg-dark" type="button" data-toggle="collapse"
        data-target="#navbarTogglerMain" aria-controls="navbarTogglerMain" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand text-light">Nav Bar</span>
    <div class="collapse navbar-collapse font-weight-bolder mr-auto mt-2 mt-md-0 text-light" id="navbarTogglerMain" style="font-size:x-large;">
       {% if user.is_authenticated %}
            Hello, {{user.username.capitalize}}
           
            
            <a id="chooseSettings" class="nav-link m-auto"  href="{% url 'aib_site:battlesite_form'%}">Choose New Game Settings</a>  


            {% if highScore %}
            <a class="nav-link m-auto" href="{% url 'aib_site:play_again'%}">Play Again!</a>  
            {%endif%}   
            <a class="nav-link m-auto" href="{% url 'users:logout' %}">Log Out</a>
        {% else %}
            <a  class="nav-link m-auto" href="{% url 'aib_site:high_scores' %}">See High Scores</a>
            <a class="nav-link m-auto" href="{% url 'users:register' %}">Register</a>
            <a class="nav-link m-auto" href="{% url 'users:login' %}">Log In</a>

            <a class="nav-link m-auto" href="{% url 'aib_site:index' %}">Home</a>
        {% endif %}     
    </div>
</nav>
<diV>
    <marquee class="text-light" id="welcome" style="font-size: xx-large;">Welcome to the 👽 Alien Invasion 👽 Builder website!</marquee>
</diV>
{% block content %}{% endblock content %}