{% extends "aib_site/base.html"%}

<body>

    <div class="navbar navbar-dark bg-dark text-primary">
        {% if user.is_authenticated %}
            Hello, {{user.username}}
            <a href="{% url 'users:logout' %}">Log Out</a> 
            <a href="{% url 'aib_site:ship_form'%}">Choose your Ship</a>      
        {% else %}
            <a href="{% url 'users:register' %}">Register</a>
            <a href="{% url 'users:login' %}">Log In</a>
        {% endif %}
        <a href="{% url 'aib_site:all_ships'%}">All Ships</a> 
        <a href="{% url 'aib_site:index'%}">Home</a> 
        
        
    </div>
        <marquee style="font-size: xx-large;">Welcome to the 👽 Alien Invasion 👽 Builder website!</marquee>
    
    
</body>
{% block content %}{% endblock content %}



