<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All</title>
    {%extends 'aib_site/base.html' %}
    {% block styling_links %}
        
    {% endblock styling_links %}
    
</head>
{% block content %}
<body class="container">
    {% if scores %}
   <marquee>
       <h1 class="text-primary">Congrats to all the players that made the cut!!</h1>
    </marquee> 
    <table class="table text-center table-striped"> 
        <thead class="thead-dark">
            <th>UserName:</th>
            <th>Last Level Played</th>
            <th>Date:</th>
            <th>High Score</th>
        </thead>
        {% for score in scores %}
        <tr>
            <td>{{score.user.username}}</td>
            <td>{{score.lastLevel}}</td>
            <td>{{score.gameDate}}</td>
            <td>{{score.highScore}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</body>
{% endblock content %}
</html>