<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose A Ship</title>
    {% extends 'aib_site/base.html' %}
    {% block styling_links %}
    <script src="../../static/aib_site/js/ship_form.js"></script>
    <link type="text/css" rel="stylesheet" href="../../static/aib_site/css/ship_form.css">
    {% endblock styling_links%}
</head>
{% block content%}

<body class="container">

  

</body>
{% endblock content%}

</html>