<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arm Your Ship for Battle</title>
    {% extends 'aib_site/base.html' %}
    {% block styling_links %}
    <link type="text/css" rel="stylesheet" href="../../static/aib_site/css/portfolio.css">
    <script src="../../static/aib_site/js/site_form.js"></script>
    {% endblock styling_links%}
</head>
{% block content%}

<body class="container">
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Bullets Portfolio</h2>
                <h3 class="section-subheading text-muted">Choose two types of bullets to arm your ship with</h3>
            </div>

            <div class="container bg-dark">

                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-m-6">
                        <div class="portfolio-item text-center">
                            <a class="portfolio-link">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i>👽</div>
                                </div>

                                <img id="bullet1" style="max-height:100px" class="img-fluid">

                            </a>

                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-m-6">
                        <div class="portfolio-item text-center">
                            <a class="portfolio-link">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i>👽</div>
                                </div>

                                <img id="bullet2" style="max-height:100px" class="img-fluid">

                            </a>

                        </div>
                    </div>


                </div>
                <form method="POST" action="{% url 'aib_site:bullet_form' %}">
                    {% csrf_token %}
                    <div class="row text-center">
                        <div class="col-6">
                            <select id="bulletName1" name="bulletName1">
                                {% for bullet in bullets %}
                                {% if bullet.bullet_name != "theBigBang.bmp" %}
                                <option value="{{bullet.bullet_name}}">{{bullet.bullet_displayName}}</option>
                                {% endif %}
                                {% endfor%}
                            </select>
                        </div>
                        <div class="col-6">
                            <select c id="bulletName2" name="bulletName2">
                                {% for bullet in bullets %}
                                    {% if bullet.bullet_name != "theBigBang.bmp" %}
                                    <option value="{{bullet.bullet_name}}">{{bullet.bullet_displayName}}</option>
                                    {% endif %}
                                {% endfor%}
                            </select>
                        </div>
                        <div class="container text-right">
                            <input class="btn btn-primary" value="Submit Choices" type="submit">
                        </div>
                    </div>
                </form>
            </div>
            <script>
                window.onload = function () {


                    let bullet1 = document.getElementById("bullet1");



                    let bullet2 = document.getElementById("bullet2")

                    let drop1 = document.getElementById("bulletName1");
                    let drop2 = document.getElementById("bulletName2");
                    bullet1.innerHTML = `<img style="max-height:100px" class="img-fluid" src="../../static/aib_site/images/bulletImageConverts/${drop1.value}">`
                    bullet2.innerHTML = `<img style="max-height:100px" class="img-fluid" src="../../static/aib_site/images/bulletImageConverts/${drop2.value}">`

                    drop1.addEventListener("change", function (e) {
                        nm = e.target.value;

                        bullet1.innerHTML = `<img style="max-height:100px" class="img-fluid" src="../../static/aib_site/images/bulletImageConverts/${nm}">`
                    })

                    drop2.addEventListener("change", function (e) {
                        nm = e.target.value;

                        bullet2.innerHTML = `<img style="max-height:100px" class="img-fluid" src="../../static/aib_site/images/bulletImageConverts/${nm}">`
                    })



                }
            </script>
        </div>
    </section>
    </div>
</body>
{% endblock content%}

</html>