<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arm Your Ship for Battle</title>
    {% extends 'aib_site/base.html' %}
    {% block styling_links %}
    <link type="text/css" rel="stylesheet" href="../../static/aib_site/css/portfolio.css">
    <script src="../../static/aib_site/js/site_form.js"></script>
    {% endblock styling_links%}
</head>
{% block content%}

<body class="container"
    style="background-image: url(../../static/aib_site/images/fireySkyBackground.png); background-repeat: no-repeat;background-size: cover;">
    <section class="page-section bg-light" id="portfolio">
        <div class="container p-4">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Bullets Portfolio</h2>
                <h3 class="section-subheading text-muted">Choose the type of bullet to arm your ship with</h3>
            </div>

            <div class="container bg-dark pb-5">

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-m-12">
                        <div class="portfolio-item text-center">
                            <a class="portfolio-link">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i>👽</div>
                                </div>

                                <div id="bullet1" style="max-height:100px" class="img-fluid">
                                </div>

                            </a>

                        </div>
                    </div>



                </div>
                <form method="POST" action="{% url 'aib_site:bullet_form' %}">
                    {% csrf_token %}
                    <div class="row text-center">
                        <div class="col-12 mb-2">
                            <select id="bulletName1" name="bulletName1">
                                {% for bullet in bullets %}
                                {% if bullet.bullet_name != "theBigBang.bmp" %}
                                <option value="{{bullet.bullet_name}}">{{bullet.bullet_displayName}}</option>
                                {% endif %}
                                {% endfor%}
                            </select>
                        </div>

                        <div class="container m-auto">
                            <input class="btn btn-primary" value="Submit Choice" type="submit">
                        </div>
                    </div>
                </form>
            </div>
            <script>
                window.onload = function () {


                    let bullet1 = document.getElementById("bullet1");
                    let drop1 = document.getElementById("bulletName1");

                    bullet1.innerHTML = `<img style="max-height:100px" class="img-fluid" src="../../static/aib_site/images/bulletImageConverts/${drop1.value}">`

                    drop1.addEventListener("change", function (e) {
                        nm = e.target.value;

                        bullet1.innerHTML = `<img style="max-height:100px" class="img-fluid" src="../../static/aib_site/images/bulletImageConverts/${nm}">`

                    })





                }
            </script>
        </div>
    </section>

</body>
{% endblock content%}

</html>