<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Choices</title>
    {% extends 'aib_site/base.html' %}
    {% block styling_links %}
    <link type="text/css" rel="stylesheet" href="../../static/aib_site/css/portfolio.css">
    <script src="../../static/aib_site/js/site_form.js"></script>
    {% endblock styling_links%}
</head>
{% block content%}

<body class="container">
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Here are your choices</h2>
                <h3 class="section-subheading text-muted">Screen size: {{width}} X {{height}}</h3>

                <div class="container bg-dark">

                    <div class="row">
                        <div class="col-lg-3 col-sm-12 col-m-3">
                            <div class="portfolio-item text-center">
                                <a class="portfolio-link">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i>👽</div>
                                    </div>
            
                                    <img id="siteName" src="../../static/aib_site/py_code/alien_invasion/assets/images/backgrounds/{{siteName}}" style="max-height:100px" class="img-fluid">
            
                                </a>
            
                            </div>
                        </div>
            
                        <div class="col-lg-3 col-sm-12 col-m-3">
                            <div class="portfolio-item text-center">
                                <a class="portfolio-link">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i>👽</div>
                                    </div>
            
                                    <img id="shipName" src="../../static/aib_site/py_code/alien_invasion/assets/images/ships/{{shipName}}" style="max-height:100px" class="img-fluid">
            
                                </a>
            
                            </div>
                        </div>
            
                        <div class="col-lg-3 col-sm-12 col-m-3">
                            <div class="portfolio-item text-center">
                                <a class="portfolio-link">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i>👽</div>
                                    </div>
            
                                    <img id="invaderName" src="../../static/aib_site/py_code/alien_invasion/assets/images/aliens/{{invaderName}}" style="max-height:100px;min-height:100px" class="img-fluid">
            
                                </a>
            
                            </div>
                        </div>
            
                        <div class="col-lg-3 col-sm-12 col-m-3">
                            <div class="portfolio-item text-center">
                                <a class="portfolio-link">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i>👽</div>
                                    </div>
            
                                    <img id="bulletName" src="../../static/aib_site/images/bulletImageConverts/{{bulletName}}" style="max-height:100px" class="img-fluid">
            
                                </a>
            
                            </div>
                        </div>
                        
            
            
                    </div>
            
            </div>




            </div>
        </div>
    </section>
    
    
</body>
{% endblock content%}

</html>


    
   