<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose A Ship</title>
    {% extends 'aib_site/base.html' %}
    {% block styling_links %}
    <script src="../../static/aib_site/js/ship_form.js"></script>
    <link type="text/css" rel="stylesheet" href="../../static/aib_site/css/ship_form.css">
    {% endblock styling_links%}
</head>
{% block content%}

<body class="container">
    
   
    {% for ship in ships %}
    <div class="infoDivs border border-dark p-2" id="div-{{ship.ship_id}}"  >
        <div id="imgDiv">
            <img src="../../static/aib_site/py_code/alien_invasion/assets/images/ships/{{ship.ship_name}}.png">
        </div>
        <div>
            <p class="">Ship Name: <span id="shipName">{{ship.ship_name}}</span></p>
        </div>
        <div>
            <p class="">Colors: <span id="shipColors">{{ship.ship_colors}}</span></p>
        </div>
        <div>
            <p class="">Description: <span id="shipDesc">{{ship.ship_description}}</span></p>
        </div>
    </div>
    {% endfor %}


    <div class="">
        <form class="" method="POST" action="{% url 'aib_site:ship_form'%}">
            {% csrf_token %}
            <div class="form-group">
                <label > Ship Name:
                    <select id="ship_selector" name="shipId">
                        {% for ship in ships %}
                        <option value="{{ship.ship_id}}" >{{ship.ship_name}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <button id="lbl" class="btn btn-primary mb-2">Sumbit Choice</button>
                </label>
            </div>
        </form>
    </div>

    </div>

</body>
{% endblock content%}

</html>