<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Out</title>
    {% extends "aib_site/base.html" %}
    {% block styling_links %}
    <link type="text/css" rel="stylesheet" href="../../static/registration/mainPg.css">
    <script src="../../static/registration/mainPg.js"></script>
    {% endblock styling_links %}
</head>
{% block content %}

<body class="container text-light">
    <div class="alert alert-danger fixed-bottom" role="alert">
        <h1 class="alert-link text-center">You have been logged out. Thank you for visiting us!</p>
    </div>
</body>
{% endblock content %}

</html>